In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/AB_NYC_2019.csv')

In [4]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
data_1000 = data.sample(n=1000)

In [6]:
data_1000.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
13972,10609963,"Sleek Loft, Premium Location",5179817,Damien,Manhattan,Flatiron District,40.74102,-73.98961,Entire home/apt,275,1,0,NaN,NaN,1,0
45542,34816483,Home in Washington Height's Historic District,54415933,Laura,Manhattan,Washington Heights,40.83468,-73.93714,Entire home/apt,300,3,0,NaN,NaN,1,88
5580,4053987,Small Private Room for 1 person,1960128,Luana,Queens,Ozone Park,40.68440,-73.84720,Private room,58,1,2,2015-08-16,0.04,2,364
29448,22587700,Private Bedroom in Cozy Williamsburg Apartment!,187912,Erin,Brooklyn,Williamsburg,40.71708,-73.96605,Private room,100,1,35,2019-06-27,2.04,2,17
47243,35652031,Comfortable private bedroom in Apartment,13830544,Renee,Brooklyn,Bedford-Stuyvesant,40.69524,-73.93234,Private room,54,4,2,2019-06-24,2.00,3,330

In [7]:
data.shape[0]

48895

In [8]:
data_1000.shape[0]

1000

In [9]:
data_1000['neighbourhood_group'].value_counts()

Manhattan        450
Brooklyn         405
Queens           112
Bronx             25
Staten Island      8
Name: neighbourhood_group, dtype: int64

In [10]:
data_1000['neighbourhood'].value_counts()

Bedford-Stuyvesant    84
Williamsburg          69
Harlem                58
Bushwick              45
Upper West Side       44
                      ..
Coney Island           1
Longwood               1
Far Rockaway           1
Woodlawn               1
Midwood                1
Name: neighbourhood, Length: 121, dtype: int64

In [11]:
data['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64